<h1 class = "text-green-400 text-3xl" >Articles</h1>

<ul>
    
    <% @article.each do |article| %>
      <li>
          <%= link_to  article.title, article %>
      </li>
    <% end %>
</ul>
<div class = "border ">
<%= link_to  "Create your article too!", new_article_path %>
</div>