 <nav class="bg-gray-500 shadow-md">
        <div class="max-w-7xl px-8">
            <div class="relative flex items-center justify-between h-16">
                
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    
                        <div class="flex space-x-4">
                            <%= link_to  "All Articles", root_path ,class: "px-3 py-2 rounded-md text-sm font-medium text-white"%>
                            <%= link_to "Edit this article", edit_article_path(@article),class: "px-3 py-2 rounded-md text-sm font-medium text-white"  %>
                            <%= link_to "Delete this article", article_path(@article),data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            },class: "px-3 py-2 rounded-md text-sm font-medium text-white bg-red-500" %>
                    </div>
                </div>
            </div>
        </div>
    </nav>